

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-color: #1E1E1E;
	background-image: url('../img/background.jpg');
	background-position:center top; 
	background-repeat:no-repeat;
}


.img-wrapper {
	text-align: center;
  padding-top: 40px;
  padding-right:50px;
}



.affix {
    position: fixed; 
    top: 0px; 
    width: 940px;
}

#logo-wrapper {
  text-align: center;
  padding-top:30px;
}

    .pull-center {
        text-align: center;
    }
    .pull-center > .nav {
        float:none;
        display:inline-block;
        *display: inline; *zoom: 1;
        height: 32px;
    }



.hero-unit {
  padding: 20px;
  margin-bottom: 50px;
  opacity: .5;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit p {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: transparent;
}

.btn-group {
  padding-bottom: 30px;
}

.navbar {
margin-bottom: 0px;
}

.navbar-inner {
  min-height: 40px;
  color: white;
  padding: 15px;
  background: #1E1E1E;
  border:0px;
  background-repeat: repeat-x;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}


.navbar .nav > li {
  float: right;
}

.navbar .nav > li > a {
  text-align: center;
  padding: 10px 15px 10px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}


.navbar .nav > li > a:hover {
  text-align: center;
  padding: 10px 15px 10px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}



h1.main {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: #EEE;
  font-size: 5em;
  font-family: 'Marko One', serif;
  line-height: 1em;
  text-shadow: black 1px 1px;
}

h1.head{
  text-align:center;
  font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
  padding-top: 100px;
  padding-bottom: 20px;
  margin-top: 0px;

}


h2.date{
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: 10px;
  text-align:center;
  color: #EEE;
  text-shadow: black 1px 1px;
}

h2.pitch{
  font-size: 1.5em;
  line-height: 1.5em;
  text-align:center;
  color: #EEE;
  text-shadow: black 1px 1px;
  font-family: rockwell;

}

p.date {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 2em;
  text-shadow: black 1px 1px;
  color:white;
  margin: 20px;
}

p {
  font-size: 1.1em;
  font-weight: lighter;
  line-height: 1.3em;
}

p#intro {
	font-size:18px;
	text-align:center;
	padding-top: 10px;
}

p.introl{
  padding-left: 40px;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: lighter;
}

p.intror{
  padding-right: 40px;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: lighter;
}


.logo-wrapper {
  text-align:center;

}

.txt-wrapper{
  padding-left: 60px;
  padding-right: 60px;

}

#map-wrapper {
	padding-top:100px;
	text-align: center;
}

.btn {
text-transform: uppercase;
font-weight: bold;
padding: 15px 40px;
font-size: 25px;
margin-bottom: 20px;
margin-top: 20px;
background-color: #1A98B7 !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1dadd1", endColorstr="#1a97b6");
background-image: -khtml-gradient(linear, left top, left bottom, from(#1DADD1), to(#1A97B6));
background-image: -moz-linear-gradient(top, #1DADD1, #1A97B6);
background-image: -ms-linear-gradient(top, #1DADD1, #1A97B6);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1DADD1), color-stop(100%, #1A97B6));
background-image: -webkit-linear-gradient(top, #1DADD1, #1A97B6);
background-image: -o-linear-gradient(top, #1DADD1, #1A97B6);
background-image: linear-gradient(#1DADD1, #1A97B6);
border-color: #1A97B6 #1A97B6 #1992B0;
color: white !important;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
-webkit-font-smoothing: antialiased;
}

#maincontent {
background: url('../img/grid.png');
}


footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px
}

#agenda-table {
  background-color: lightgrey;

}

.agenda-map-wrapper {
  padding-top: 100px;
}


.tabLabel {
position: relative;
padding: 5px 0px 10px;
margin: 0 0 0 0;
text-align: center;
font-weight: bold;
z-index: 3 !important;
font-size: 20px;
}

.shadow {
  -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
}

